/* HEADER */
.header {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
}

.header .logo {
  font-family: 'Press Start 2P';
  font-size: 18px;
  color: #fff;
}

.nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-family: 'Press Start 2P';
  font-size: 15px;
}

/* MAPPA */
.mappa {
  margin-top: 5rem;
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
}

.mappa h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.map-container {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  border: 4px solid #000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

/* HERO */
.hero {
  width: 100%;
  height: 60vh;
  background: url('/SRC/IMG/barber.jpg') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titolo {
  font-family: 'Press Start 2P';
  font-size: 40px;
  color: white;
  text-shadow: 3px 3px 0 black;
  margin-bottom: 30px;
}


/* TESTIMONIALS */
.testimonials {
  margin-top: 5rem;
  text-align: center;
  font-family: 'Press Start 2P';
}

.testimonials h2 {
  font-size: 25px;
}

.quote {
  margin-top: 20px;
  font-size: 14px;
}

.author {
  margin-top: 10px;
  font-size: 12px;
}


/* FOOTER */
.footer {
  margin-top: 5rem;
  width: 100%;
  padding: 20px 0;
  background: #000;
  text-align: center;
  color: #fff;
  font-family: 'Press Start 2P';
  font-size: 10px;
}


.Griglia {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  row-gap: 5rem;
  column-gap: 2.5rem;
  width: 36vw;
  margin: 0 auto;
}


.FOTO {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.TAGLIO {
  width: 100%;
  height: 80%;
  position: relative;
}